{include file="public/header"/}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div>尊敬的用户<span id="weather"></span></div>
    </div>

    <!-- 中间折线 -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> 服务器信息
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-sitemap"></i> 框架版本：ThinkPHP{$info.think_v}
                        </p>
                        <p><i class="fa fa-windows"></i> 服务环境：{$info.web_server}
                        </p>
                        <p><i class="fa fa-warning"></i> 上传附件限制：{$info.onload}
                        </p>
                        <p><i class="fa fa-credit-card"></i> PHP 版本：{$info.phpversion}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> 系统信息
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-send-o"></i> 投道官网：<a href="http://www.3todo.com/" target="_blank">http://www.3todo.com/</a>
                        </p>
                        <p><i class="fa fa-qq"></i> 联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=326789565&amp;site=qq&amp;menu=yes" target="_blank">864491238</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 联系微信：<a href="javascript:void(0);">chw19932011</a>
                        </p>
                        <p><i class="fa fa-phone"></i> 联系电话：<a href="javascript:void(0);">400-156-0532</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}
<script src="/static/admin/js/jquery.leoweather.min.js"></script>

<script type="text/javascript">
    $('#weather').leoweather({format:'，{时段}好！<span id="colock">现在时间是：<strong>{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}</strong>'});
</script>

</body>
</html>